body {
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

h1, h2 {
    text-align: center;
    color: #E2EB98;
    font-family: 'Dosis', sans-serif;
}

p, a {
    text-align: center;
    color: #93A392;
    font-family: 'ABeeZee', sans-serif;
}


