body {
    background: ;
}
h1 {
    text-align: center;
    color: #5D737E;
    font-family: 'Dosis', sans-serif;
}

h2 {
   text-align: center;
   color: #55505C;
   font-family: 'Dosis', sans-serif;
}

p, a {
    text-align: center;
    color: #93A392;
    font-family: 'ABeeZee', sans-serif;
}

#children {
    background: #B9CDDA;
}

#loadingDiv {
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    position: fixed;
    display: block;
    z-index: 99
}

#loading-image {
    position: absolute;
    top: 50%;
    left: 47.5%;
    z-index: 100
} 

